# Core ML libraries
torch
torchaudio

# Whisper and WhisperX for transcription and alignment
openai-whisper
git+https://github.com/m-bain/whisperx.git

# Pyannote for speaker diarization
--find-links https://data.pyannote.audio/pyannote-audio-3.1.1.html
pyannote.audio

# Web Interface
gradio

# Utilities
ffmpeg-python
